body {
    background-color: #DADADA;
    color: #444;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    background: #FCFCFC;
    color: #444;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    padding-right: 20px;
    padding: 20px 40px;
    box-sizing: border-box;
}

header h1 {
    margin-right: 20px; 
    font-size: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.profile-header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.info-tooltip {
position: absolute;
right: 5px;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: var(--theme-color, #2C3E50); 
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

#nav h1 {
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
}

#nav nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

#nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: 600;
}

#nav a:hover {
    background-color: #B8860B;
    color: #FFFFFF;
    transition: 0.3s;
}

#content {
    margin-left: 200px;      
    box-sizing: border-box;
    padding: 20px;
    
}
.profile-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#upload-pic {
    width: 200px; 
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 10px auto; 
}
.profile-pic-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-top: 30px;
}

.profile-pic-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.profile-pic-section input {
    margin-top: 10px;
}
.profile-container {
    width: 100%;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

.profile-container {
    display: flex;                 
    gap: 20px;                     
    flex-wrap: wrap;                
}
  

#profile-form {
background-color: #f9f9f9;
padding: 20px;
border-radius: 8px;
border: 1px solid #ccc;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
width: 350px; 
margin-left: 30%;               
}

.preferences {
background-color: #f9f9f9;
padding: 20px;
border-radius: 8px;
border: 1px solid #ccc;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
width: 350px;                   
}

.button-container button {
background-color: #b8860b;
color: white;
border: none;
padding: 10px 20px;
font-size: 16px;
border-radius: 8px;
cursor: pointer;
margin-top: 10px;
}

.button-container button:hover {
background-color: #a97409;      
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;      
        align-items: center;
    }

    #profile-form, .preferences {
        width: 90%;   
    }
}

/* Home*/
#summary {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    padding: 15px;
    background: #FCFCFC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 800px;
}

.summary-box {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.positive {
    color: green;
}

.negative {
    color: #C0392B;
}

.balance {
    color: rgb(22, 76, 112);
}

.info-icon {
    font-size: 25px;
    color: #007BFF;
    cursor: pointer;
    padding-right: 150px;
    
}

.tooltip-text {
    visibility: hidden;
    width: 160px;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 6px;
    border-radius: 6px;
    font-size: 12px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.info-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#budget-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
}

#budgets,
#budget-categories {
    flex: 1;
    min-width: 300px;
    padding: 15px;
    background: #FCFCFC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    border: 1px solid #ddd;
}

h2 {
    color: #444;
    margin-bottom: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background: #444;
    color: white;
}

#add-section {
    flex: 1;
    min-width: 300px;
    padding: 15px;
    background: #FCFCFC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    text-align: center;
}

.card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #FCFCFC;
    width: auto;
}

.card h3 {
    margin-top: 15px;
    padding-bottom: 10px;
}

input,
select,
button {
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    max-width: 100%;
}

.card input,
.card select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: 42px;
    box-sizing: border-box;
}

button {
    background-color: #B8860B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

button:hover {
    background: #A67509;
}

.progress-container {
    width: 100%;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 15px;
}

.progress-bar {
    height: 100%;
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    transition: width 0.4s ease-in-out;
}

.progress-bar.low {
    background-color: #28a745;
}

.progress-bar.medium {
    background-color: #ffc107;
}

.progress-bar.high {
    background-color: #C0392B;
}

#transactions {
    margin: 20px auto;
    padding: 15px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 95%;
}

#transactions table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#transactions th,
#transactions td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.transaction-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #FCFCFC;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    width: 95%;
    margin-left: 25px;
}

.filter-container {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; 
    padding: 15px;
    width: 95%;
    margin: 10px auto;
    gap: 10px; 
    flex-wrap: wrap;
}

.filter-box {
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 2; 
    min-width: 300px;
    flex-wrap: wrap;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.filter-box h3 {
    text-align: center; 
    width: 100%; 
}


.quick-add-box {
    flex-grow: 1; 
    max-width: 550px; 
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 120px;
    flex-wrap: nowrap;
}
.filter {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.quick-add-box {
    text-align: center;
}

.quick-add-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
    flex-wrap: wrap;
    justify-content: center;
}

.quick-add-btn {
    padding: 8px 12px;
    background-color: #b38e22;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap; 
}

.quick-add-btn:hover {
    background-color: #8a6f1e;
}

#amount-add {
    width: 100px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#quick-add-submit {
    padding: 8px 12px;
    background-color: #b38e22;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal {
    display: none;  
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  
}
  

.modal-content {
    background-color: #FCFCFC;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}
  

.modal-actions button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#confirm-btn {
    background-color: #C0392B; 
    color: white;
}

#cancel-btn {
    background-color: #B8860B;  
    color: white;
}

#confirm-btn:hover {
    background-color: #A93226;
}

#cancel-btn:hover {
    background-color: #A67509;
}
.quick-add-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    flex-wrap: wrap; 
    justify-content: flex-start;
}

.quick-add-btn {
    padding: 8px 12px;
    background-color: #b38e22;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap; 
}

.quick-add-btn:hover {
    background-color: #8a6f1e;
}

#amount-add {
    flex-grow: 1;
    min-width: 100px; 
    max-width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#budget-table {
    width: 100%;
    table-layout: fixed; 
    flex-wrap: wrap;
}

#budget-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis; 
    flex-wrap: wrap;
}

#budget-table input {
    width: 90%; 
    box-sizing: border-box; 
    padding: 5px;
    font-size: 14px;
}


/* Profile */
#profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 200px;
    padding: 20px;
}

.profile-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

#profile-form {
    background: #FCFCFC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 650px;
    text-align: left;  
    margin: 0;
    height: 260px;
}

#profile-form, .preferences, .delete-account {
    flex: 1;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 650px;
    min-height: fit-content;
  }

.preferences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #FCFCFC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 650px;
    text-align: center;  

}

.preferences h2 {
    text-align: center;
    width: 100%;
}

.dark-mode {
    background-color: var(--theme-color, #2C3E50); 
}


.delete-account {
    background: #FCFCFC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 260px;
    text-align: left;  
}

.delete-account-btn {
    background-color: #B8860B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #444;
}

.form-group {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.form-group label {
    text-align: left;
    font-weight: bold;
}

#generate-recommendation {
    background-color: #B8860B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 10px;
}

#generate-recommendation:hover {
    background: #A67509;
}

.modal {
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
background-color: #FCFCFC;
margin: 15% auto;
padding: 20px;
border-radius: 8px;
width: 400px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
text-align: center;
}

.modal-content h2 {
margin-bottom: 10px;
}

.modal-content p {
margin-bottom: 20px;
}

#close-info-modal {
background-color: #B8860B;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
font-weight: bold;
}

#close-info-modal:hover {
background-color: #A67509;
}
  